body {
    background: plum;
}

.wrapper {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    position: relative;
    cursor: pointer;
    background: plum;
}

.sheet {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: top left;
}

.sheet_1 {
    background: purple;
    z-index: 3;
    transition: all .25s;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 28px;
    font-style: italic;
    will-change: transform;
}

.sheet_2 {
    background: #faf0be;
    z-index: 2;
    transition: all 0.25s;
    will-change: transform;
}

.sheet_3 {
    background: #fff;
    z-index: 1;
}

.sheet_3::after {
    position: absolute;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: -1;
    bottom: 0;
    right: 0.1%;
    transition: all 0.25s;
}

.wrapper:hover .sheet_1 {
    transform: skewY(-20deg) scaleX(0.7);
}

.wrapper:hover .sheet_2 {
    transform: skewY(-10deg) scaleX(0.86);
}

.wrapper:hover .sheet-3::after {
    bottom: -10px;
}